* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
  max-width: 36em;
  display: grid;
  grid-auto-rows: 5em 5fr 1fr;
}

.inputs {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
}

.inputs .input {
  text-align: center;
  margin: 10px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
}

.inputs .input:hover {
  background: #fefefe;
}

input[type='submit'] {
  border: none;
  cursor: pointer;
  white-space: normal;
  background: inherit;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.addQuestion .input {
  margin: 10px;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;
}

.addQuestion .input label {
  width: 8em;
}

input[type='input'] {
  border: none;
  cursor: pointer;
  white-space: normal;
  background: inherit;
  font-size: 16px;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-left: 1px solid lightgrey;
}

form {
  display: grid;
  align-items: flex-end;
}

.list {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}

img {
  width: 100%;
}

.list .item {
  text-align: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .item:hover {
  background: #fefefe;
}

.list .meta {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.list .status {
  display: flex;
  align-items: center;
}

.list .status h3 {
  margin: 0;
  padding: 1px 0 0 4px;
}

a {
  color: black;
}

.error {
  color: red;
}

.success {
  color: green;
}

input[type='submit'].selected {
  background: #fcfcfc;
  border: inherit;
}

#gif {
  width: 100%;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-family: sans-serif;
    max-width: 36em;
    padding: 10px;
  }

  .inputs {
    grid-template-columns: auto !important;
    grid-auto-flow: row;
  }

  .inputs .input {
    display: block;
  }
}
