<% include head.ejs %>
<title>Endless</title>

<body>
  <h1>Oops.</h1>
  <p>
    Hmm, something went wrong
  </p>
  <p>
    <%= error %>
  </p>
  <p>
    To do this, please navigate to your <a href=/profile>profile</a>
</body>

<% include tail.ejs %>
