<% include head.ejs %>
<title>Register</title>
<% include nav.ejs %>
<h1>Register now!</h1>
<form action=/register method=post>
  <label>Username: </label><input type=text name=username />
  <% if (status == 409) { %>
    <span class="error"><%= error %></span>
  <% } %>
  <label>Password: </label><input type=password name=password />
  <label>Password (confirm): </label><input type=password name=passwordConf />
  <% if (status == 422) { %>
    <span class="error">Passwords need to be identical</span>
  <% } %>
  <% if (status == 400) { %>
    <span class="error">All fields are required</span>
  <% } %>
  <input type="submit" value="Register">
</form>
<% include tail.ejs %>
